body{
	font-family:'Noto sans TC' sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1,.h2,.h3,.h4,.h5,.h6{
	font-family:'Noto Sans TC', sans serif;
}
.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 1.2rem;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6, .subheading{
	text-size:5rem;
}
p.lead{
	font-size:1.2rem;
}
.bg-primary{
	background-color: #004d37!important;
	background-image:url(../assets/img/diagmonds.png);
}
.text-primary{
	color: #004d37!important;
}
a {
    color: #004d37;
    text-decoration: none;
    background-color: transparent;
}
p {	color: #0f0a30;
	background-color: #FFFAF0;
	border-width: 2px;
	border-style: solid;
	border-color: #8FBC8F;
	}
ul>li:hover {
	background-color: #292100;
}
.jumbotron ul {
	list-style-type: disc;
}
table {
	width: 80%;    
}
td,th {
	border:1px solid #2a5d44;
	border-color:#2a5d44;
}
.tr table-primary:hover {
    background-color: #90cf9d
}




