body{
	font-family:'Noto sans TC' sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1,.h2,.h3,.h4,.h5,.h6{
	font-family:'Noto Sans TC', sans serif;
}
.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 1.2rem;
    font-size: normal;
}
h1, h2, h3, h4, h5, h6, .subheading{
	text-size:5rem;
}
p.lead{
	font-size:1.2rem;
}
